@model IList<DirectoryItemDto>
@{ 
    int pageSize= (int)Math.Ceiling((double)Model.Count / 20);
}

<div class="row">
    <div class="col-12">
        <table id="mainTable" class="table table-hover">
            <thead>
                <tr>
                    <th>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" onclick="selectAll(this)" value="" id="selectAll">
                        </div>
                    </th>
                    <th class="table-header">AD SOYAD</th>
                    <th class="table-header">TELEFON NO</th>
                </tr>
            </thead>
            <tbody id="mainTableBody">
               
            </tbody>
           
        </table>
        <div id="navigationBar">
            <span class="placeholder-glow mb-0">
                <span class="placeholder offset-2 col-2"></span>
            </span>
            <span class="placeholder-glow mb-0">
                <span class="placeholder col-1"></span>
            </span>
            <span class="placeholder-glow mb-0">
                <span class="placeholder col-1"></span>
            </span>
            <span class="placeholder-glow mb-0">
                <span class="placeholder col-1"></span>
            </span>
            <span class="placeholder-glow mb-0">
                <span class="placeholder col-1"></span>
            </span>
            <span class="placeholder-glow mb-0">
                <span class="placeholder col-2"></span>
            </span>
        </div>

    </div>
</div>



<script>
     var directories = @Html.Raw(Json.Serialize(Model));
     localStorage.setItem("directories", JSON.stringify(directories));

     var selected = [];
     localStorage.setItem("selected", JSON.stringify(selected));
  



    $(function () {
        setTable(1);
        $("#navigationBar a.page-link")
      
    })

    function changePage(pageNo) {
        var dir = JSON.parse(localStorage.getItem("directories"));

        console.log(dir);

    }

</script>